<div class="card">
  <div class="card-header">
    <h2>Welcome {{title}} </h2>
  </div>

  <div class="card-body" style.display="{{'none'}}">
    <p>{{returnValidDate(6578976573450)}}</p>

    <img src="{{myImage}}" height="100" width="100">
    <p style.color={{myColor}}> Hi Thams</p>
    <input (keyup)="0" #el>
    <p ngNonBindable>{{el.value | slice:0:3}}</p>
    <p >{{el.value | slice:0:3}}</p>
  </div>

  <div class="card-body" style.display="{{'none'}}">
    <div [innerHTML]="elements"></div>
    <p [innerText]="stings + ' Thamarai' ">
    <img [src]="myImage" height="100" width="100" >
    <p [textContent]="5 + 8"></p>
    <p [textContent]="a() + 8"></p>
    <p [style.color]="myColor" [innerText]="stings + ' Thamarai' "></p>
    <button [disabled]="isDisabled">Click</button>
  </div>

  <div class="card-body" [style.display]="'none'">
    <!-- <button [attr.aria-label]="closeLabel">x</button> -->

    <table border="1">
      <thead>
        <tr>
          <th [attr.colspan]="'2'">{{'id' | titlecase}}</th>
          <th>{{'name' | titlecase}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td [attr.colspan]="'2'">{{'2' | titlecase}}</td>
          <td>{{'ThamaraiSelvan' | titlecase}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-body" style.display="{{'none'}}">
    <input type="text" [value]="name" (input)="name = $any($event.target).value">
    <p>you entered {{name}}</p>
    <button on-click="name = ''; display()">clear value</button><br/><br/><br/>

    <input type="text" [(ngModel)]="names"/>
    <p>you entered {{names}}</p>
    <button on-click="names = '';">clear value</button>
  </div>

  <div class="card-body" style.display="{{'none'}}">
    <select type="text"  [ngModel]= "valss" (ngModelChange)="valss = $event" >
      <option value="a">a</option>
      <option value="b">b</option>
    </select>
     <p>you select {{valss}}</p>

    <input type="text" ngModel (ngModelChange)="vals">
    <p>you entered {{names}}</p>
  </div>
</div> 