<div class="card">
  <div class="card-header">
    <h2>{{title}} </h2>
  </div>

  <div class="card-body" style.display="{{'none'}}">
    <p>{{returnValidDate(6578976573450)}}</p>

    <img src="{{myImage}}" height="100" width="100">
    <p style.color={{myColor}}> Hi Thams</p>
    <input (keyup)="0" #el>
    <p ngNonBindable>{{el.value | slice:0:3}}</p>
    <p >{{el.value | slice:0:3}}</p>
  </div>

  <div class="card-body" style.display="{{'block'}}">
    <div [innerHTML]="elements"></div>
    <p [innerText]="stings + ' Thamarai' ">
    <img [src]="myImage" height="100" width="100" >
    <p [textContent]="5 + 8"></p>
    <p [textContent]="a() + 8"></p>
    <p [style.color]="myColor" [innerText]="stings + ' Thamarai' "></p>
    <button [disabled]="isDisabled">Click</button>
  </div>
</div> 