<div class="card">
  <div class="card-header">
    <h2>Welcome {{title}} </h2>
  </div>

  <div class="card-body" style.display="{{'none'}}">
    <p>{{returnValidDate(6578976573450)}}</p>

    <img src="{{myImage}}" height="100" width="100">
    <p style.color={{myColor}}> Hi Thams</p>
    <input (keyup)="0" #el>
    <p ngNonBindable>{{el.value | slice:0:3}}</p>
    <p >{{el.value | slice:0:3}}</p>
  </div>

  <div class="card-body" style.display="{{'none'}}">
    <div [innerHTML]="elements"></div>
    <p [innerText]="stings + ' Thamarai' ">
    <img [src]="myImage" height="100" width="100" >
    <p [textContent]="5 + 8"></p>
    <p [textContent]="a() + 8"></p>
    <p [style.color]="myColor" [innerText]="stings + ' Thamarai' "></p>
    <button [disabled]="isDisabled">Click</button>
  </div>

  <div class="card-body" [style.display]="'none'">
    <!-- <button [attr.aria-label]="closeLabel">x</button> -->

    <table border="1">
      <thead>
        <tr>
          <th [attr.colspan]="'2'">{{'id' | titlecase}}</th>
          <th>{{'name' | titlecase}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td [attr.colspan]="'2'">{{'2' | titlecase}}</td>
          <td>{{'ThamaraiSelvan' | titlecase}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-body" style.display="{{'block'}}">
    <p (click)="vals()" id="pTag">my name is {{name}}</p>
    <input type="text" on-input="name = $any(vels).value" value="" #vels/>
    
    <p>my name is {{names}}</p>
    <input type="text" value="" on-input="dis($event)" #vels/>
</div>
</div> 