<!-- <div class="card">
  <div  class="card-header">
    <h3>Service Component</h3> 
  </div> 

  <div style="display: block;">
    <div class="card-body">
      <div class="container">
        <div class="table-responsive">
          <table class="table" border="1">  
            <thead>
              <tr>
                <th>
                  Id
                </th>
                 <th>
                  Name
                </th>
                 <th>
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>
                  {{product.productId}}
                </td>
                <td>
                  {{product.name}}
                </td>
                <td>
                  {{product.price}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div> -->

<div class="card">
  <div class="card-header">
    Reactive Forms
  </div>
  <div class="card-body">
    <form [formGroup]="form" #formDirective="ngForm" (submit)="formSubmit()">
      <div>
        <input formControlName="name" type="text">
        <p style="color:red" *ngIf="form.get('name').hasError('required')">Not valid</p>
      </div>

      <div>
        <input formControlName="email" type="text" >
        <p  style="color:red" *ngIf="form.get('email').hasError('email')">email require</p>
      </div>
      
      <div>
        <input formControlName="id" type="text" >
        <p  style="color:red" *ngIf="form.get('id').hasError('required')">id require</p>
      </div>
        <button type="submit">submit</button>
        <button type="reset" (click)="rest(formDirective)">reset</button>
    </form>
  </div>

</div>