<div class="card">
  <div  class="card-header">
    <h3>Parent Component</h3> 
  </div> 

  <div style="display: none;">
    <div class="card-body">
      <select [(ngModel)]= "parentMessage">
        <option value="Thamarai">Thamarai</option>
        <option value="Thiru">Thiru</option>
        <option value="Paru">Paru</option>
      </select>

      <textarea type="text" [(ngModel)]="contentProjection"></textarea>
      <button on-click="toggle()">Show/Hide</button>
      <app-child *ngIf="displayChild" [message]="parentMessage" >
        {{contentProjection}}
      </app-child>
    </div>
  </div>

  <div style="display: block;">
    <div class="card-body">
      <p>Message from parent component: <input type="text" [(ngModel)]="message" /></p>
      <p>customer name from parent component: <input type="text" [(ngModel)]="name" /></p>
      <p>customer code from parent component: <input type="text" [(ngModel)]="code" /></p>
      <button type="button" on-click="updateCustomer()">Update</button>

      <app-child>projected Content</app-child>
    </div>
  </div>

</div>