<div class="card">
  <div class="card-header">
    <h2>Parent Component</h2>
  </div>
  <div class="card-body">
    counter value is: {{child._count}}
    <button on-click="child.increment()">increment</button>
    <button on-click="child.decrement()">decrement</button>
  </div>

  <div class="card-header">
    <h2>Child Component</h2>
  </div>
  <div class="card-body">
   <!-- <app-child [MyCount]="counter" (countChange)="changedCount($event)"></app-child> -->
   <!-- <app-child #child></app-child> -->
  </div>
</div> 