<div class="card">
  <div class="card-header {{header}}">
    <h1>{{heading}}</h1>
  </div>
  <div class="card-body"> 
    
    <!-- Switch -->
    <!-- <select [ngModel]="num" (ngModelChange)="num = $event" >
    <option *ngFor="let item of items" [value]="item.val">{{item.name}}
    </option>
    </select>

    <ng-container [ngSwitch]="num">
      <ng-template [ngSwitchCase]="0">{{'This is'+ num}}</ng-template>
      <ng-template [ngSwitchCase]="1">
        <ng-container *ngTemplateOutlet="st1"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="2">
         <ng-container *ngTemplateOutlet="st2"></ng-container>
      </ng-template>
      <ng-template ngSwitchDefault>{{'None of case matched'}}</ng-template>
       <ng-template ngSwitchDefault>{{' babe'}}</ng-template>
    </ng-container>

    <ng-template #st1>
      <p [textContent]="'Hi i am 1'"></p>
    </ng-template>
    <ng-template #st2>
      <p [textContent]="'Hi i am 2'"></p>
    </ng-template> -->

    <!-- for directive -->
    <!-- <ul >
      <li *ngFor="let movie of movies">
        {{movie.title}} - {{movie.director}}
      </li>
    </ul> -->
    <!-- <div class="panel panel-primary">
      <div class="panel-body"> 
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Release Date</th>
                <th>Director</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movie of movies; let i= index; let c= count; let f= first; let l= last; let e= even; " [ngClass]="{'eve': e, 'odd':e == false}">
                <td>{{movie.title}}</td>
                <td>{{movie.releaseDate}}</td>
                <td>{{movie.director}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->

    <!-- ngModelChange -->
    <!-- <input type="text" [ngModel] = "firstName" (ngModelChange)="firstName = $event" (ngModelChange)="firstNameChange($event)"/>
    <p [innerHTML]="firstName | uppercase"></p>
     <p >{{changeValue | uppercase}}</p> -->

     <!-- change -->
     <!-- <input type="text" (change)="firstNameChange($event)"/>
     <p >{{changeValue | uppercase}}</p> -->

    <!-- Two way data binding-->
     <!-- <input type="text" [value]="name" on-input="name = $any($event.target).value">
     <p>{{name}}</p>
     <button on-click ="name = ''"> click</button> -->

     <!-- event binding-->
      <!-- <p>{{name1}}</p>
     <input [value]="name1" on-input="count($event)" #el> -->

     <!-- <select [(ngModel)]="vels" >
       <option value="summa">summa</option>
        <option value="dumma">dumma</option>
     </select>
     <p>{{vels}}</p> -->

    <!-- property binding -->
    <!-- <div [innerHTML]="text"> </div> -->
      <!-- <div [style.color]="name1" [textContent]="name"></div> -->

      <p class="{{bumba}}">
        {{5*5}} 
        <img src="{{itemImageUrl}}" />
        <input type="text" (input)="name= $any($event.target).value" #tt/>
       
      </p><br>
       <a style.color={{name1}} > {{tt.value}} </a>


  </div>
</div>




