<div class="container">
  <div class="card">
    <div class="card-header">
      {{'Parent Component'}}
    </div>
    <div class="card-body">
      <form #form (submit)="updateCustomer()">
        <div class="form-group"> 
          <label for="customersName">Customer Name</label>
          <input 
            required
            [(ngModel)]="customer.name" 
            #customersName="ngModel"
            name="customersName" 
            id="customersName" 
            class="form-control" 
            placeholder="Customer Name"
          />

          <div class="alert alert-danger" *ngIf="customersName.invalid && customersName.touched">
            <div *ngIf="customersName.errors.required">The Field is Mandatory</div>
          </div>
        </div>

        <div class="form-group"> 
          <label for="customersCode">Customer Code</label>
          <input 
            required
            [(ngModel)]="customer.code" 
            #customersCode="ngModel"
            name="customersCode" 
            id="customersCode" 
            class="form-control" 
            placeholder="Customer Code"
          />

          <div class="alert alert-danger" *ngIf="customersCode.invalid && customersCode.touched">
            <div *ngIf="customersCode.errors.required">The Field is Mandatory</div>
          </div>
        </div>

        <div class="form-group"> 
          <label for="customersmessage">Customer Message</label>
          <input 
            required
            minlength="2"
            [(ngModel)]="message" 
            #customersmessage="ngModel"
            name="customersmessage" 
            id="customersmessage" 
            class="form-control" 
            placeholder="Customer Message"
          />

          <div class="alert alert-danger" *ngIf="customersmessage.invalid && customersmessage.touched">
            <div *ngIf="customersmessage.errors.required">The Field is Mandatory</div>
            <div *ngIf="customersmessage.errors.minlength.requiredLength">The required length is {{customersmessage.errors.minlength.requiredLength}}</div>
          </div>
        </div>
        <button class="btn btn-primary" >Submit</button>
      </form>
      
      

      <input type="checkbox" [ngModel]="hideChild" (ngModelChange)="hideChild = $event" id="checky" />
      <label for="checky" >Hide Child</label>

      <div app-cld [received]="message" [customer]="customer" *okIf="!hideChild">
        <b>I am Child Component</b>
      </div>
    </div>
  </div>
</div> 