<div class="card">
  <div  class="card-header">
    <h3>Parent Component</h3> 
  </div> 

  <div style="display: block;">
    <div class="card-body">
      <p>
        message of parent: <input type="text" [(ngModel)]="message" />
      </p>
      <p>
        Code: <input type="text" [(ngModel)]="code" />
      </p>
      <p>
        Name: <input type="text" [(ngModel)]="name" />
      </p>

      <button on-click="updateChild()">Update</button>
      
      <app-child-commu [message]="message" [customer]="customer"></app-child-commu>
    </div>
  </div>

</div>