<div class="card">
  <div  class="card-header">
    <h3>Welcome Pipe</h3>
  </div>

  <div style="display: none;">
    <div class="card-body">
      <p>Farenheit is : <input type="text" [(ngModel)]="fahrenheit" />
      celsius is : {{fahrenheit | tempConverter:'C'}}</p>

      <p>
        celsius is: <input type="text" [(ngModel)]="celsius" /> 
        Fahrenheit: {{celsius | tempConverter:'F'}}
      </p>
    </div>
  </div> 

  <div style="display: none;">
    <div class="card-body">
     <p>{{toDate}}</p>
     <p>{{currency}}</p>
    </div>
  </div> 

  <div style="display: none;">
    <div class="card-body">
     <ol >
       <li *ngFor="let breed of breeds | keyvalue: orderOriginal">
         {{breed.key}} --> {{breed.value}}
       </li>
     </ol>
     <ol >
       <li *ngFor="let breed of maps | keyvalue">
         {{breed.key}} --> {{breed.value}}
       </li>
     </ol>
    </div>
  </div> 

  <div style="display: block;">
    <div class="card-body">
     <ng-container *ngIf="(obsValue | async); else elB">
       <p>{{obsValue | async }}</p>
     </ng-container>
     
     <!-- <ng-container *ngIf="(obsValue2 | async)?.message as ob; else elB"> -->
       <ul>
         <li *ngFor="let val of (obsValue2 | async)?.message"> 
           {{val}}
         </li>
       </ul>
     <!-- </ng-container> -->
     
     
     <ng-template #elB>
       <p>Loading Please Wait..</p>
     </ng-template>


     
    </div>
  </div> 


</div>