<!-- <div class="card">
  <div class="card-body">
    <ul>
      <li *ngFor="let movie of movies; let i = index;trackBy: trackByFn;">{{movie.title + ' '+
        movie.director}}<button on-click="removeMovies(i)">remove</button></li>
    </ul> 
  </div>   
</div>
<input [ngModel]="title" (ngModelChange)="title = $event"/><br><br>
<input [ngModel]="director" (ngModelChange)="director = $event"/>

<button on-click="addMovies()">add</button><br><br>

<button on-click="Refresh()">refresh</button>

<select ngModel (ngModelChange)=" kal($event)" >
  <option value="movies[0]['title']">urrrrr<option>
  <option value="kumbai">Thullllll<option>
</select> -->


<!----- ngIf, ngIf else, ngIf then else, hidden --->
<!-- <div class="card">
  <h1 [style.text-align]="ifDirective.align" class="card-header"> ngIf </h1>

  <div class="card-body">

    <input type="checkbox" [(ngModel)]="ifDirective.showMe" placeholder="Show"/>


    <h3>ng if </h3>

    <p *ngIf="ifDirective.showMe">{{ifDirective.trueContent}}</p>
    <p *ngIf="!ifDirective.showMe">{{ifDirective.falseContent}}</p>

    <h3>ngif else</h3>

    <p *ngIf="ifDirective.showMe; else elseBlock">{{ifDirective.trueContent}}</p>
    <ng-template #elseBlock>
      <p>{{ifDirective.falseContent}}</p>
    </ng-template>

    <h3> ngif then else</h3>

    <p *ngIf="ifDirective.showMe; then thenBlock1; else elseBlock1">
      This will not render.
    </p>

    <ng-template #thenBlock1>
        <p>{{ifDirective.trueContent}}</p>
    </ng-template>

    <ng-template #elseBlock1>
      <p>{{ifDirective.falseContent}}</p>
    </ng-template>

    <h3>hidden atrribute</h3>

    <p [hidden]="ifDirective.showMe">Hidden atrribute</p>

    
  </div>
</div> -->

<!--Custom Atrribute Directive ng class-->
<!-- <div class="card">
  <h1 [style.text-align]="ifDirective.align" style.color={{color}} class="card-header"> Custom Atrribute Directive ng class </h1>

  <div class="card-body">
   <p [tsClass]="customArrayClass" >{{'hi' | uppercase}}</p>
   <p [tsClass]="customStringClass" >{{'hi' | uppercase}}</p>
   <p [tsClass]="customObjectClass" >{{'hi' | uppercase}}</p>
  </div>
</div> -->

<!--Custom Atrribute Directive ng style-->
<!-- <div class="card">
  <h1 [style.text-align]="ifDirective.align" style.color={{color}} class="card-header"> Custom Atrribute Directive ng style </h1>

  <div class="card-body">
    <ng-container *ngFor="let val of vals;">
      <label>
      <input type="radio" [value]="val.color" ngModel (ngModelChange)="customCss($event)" />
      {{val.color}}
      </label>
    </ng-container>
    <p [tsStyle]="customStyle" [tsClass]="'customSize'">HI I AM STYLE</p>
  </div>
</div> -->

<!--Custom structural Directive ng if-->
<!-- <div class="card">
  <div class="card-header">
    <h1>ngIF CUSTOM DIRECTIVE</h1>
  </div>

  <div  class="card-body">
    <select [ngModel]="myColor" (ngModelChange)="myColor = $event">
      <option value=''   [selected]="true">select</option>
      <option *ngFor="let val of vals;" [value]="val.color">
        {{val.color}}
      </option>
    </select>

    <div *tsIf="myColor == 'CYAN'; ">
      <P>YES</P>
    </div>
  </div>

</div> -->

<!-- pipes-->
<!-- <div class="card" style="display: none;">
  <div class="card-header">
    <h1> Built in Pipe</h1>
  </div>

  <div  class="card-body">
    <div style="display: none;">
      <input type="number"  [value]="num" on-input="num = $any(n1).value" #n1  />
      
      <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">uppercase: {{ 'thamarai selvan' | uppercase }}</p>
      <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">lowercase: {{ 'thamarai selvan' | lowercase }}</p>
     <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">number: {{ '5343' | currency:'INR ':false }}</p>
     <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'short' }}</p>
     <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'M/d/yy, h:mm a' }}</p>
      <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'medium' }}</p>
     <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'MMM, d, y, h:mm:ss a' }}</p>
     <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'long' }}</p>
     <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'MMMM, d, y, h:mm:ss a z' }}</p>
      <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'full' }}</p>
      <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'EEEE, MMMM, d, y, h:mm:ss a zzzz' }}</p>

    <p [tsStyle]="{'text-align': 'center', 'font-weight': 'bold'}">Date: {{ dates | date:'E, EE, EEE, EEEE, EEEEE, M, MM, MMM, MMMM, d, dd, y, yy, yyy, yyyy, H, HH, m, mm, s, ss, a, aa, aaa, aaaa, aaaaa z, zzzz' }}</p>
    </div>
    
    
    <div >
      <ng-container *ngIf="(obsValue | async) as value; else elB">
        <p>{{ value }}</p>
      </ng-container>

      <ng-container *ngIf="(obsValue | async); else elB">
        <p> This is second block </p>
      </ng-container>

      <ng-template #elB>
        <p>Loading please wait...</p>
      </ng-template>

      <ul >
        <li *ngFor="let hounds of (hounds | async)?.message">
          {{hounds}}
        </li>
      </ul>


 
      <div *ngIf="(hounds | async) as breeds; else elB">
        <ul>
          <li *ngFor="let breed of breeds.message">{{breed}}</li>
        </ul> 
      </div>





    </div>
  </div>

</div> -->

<!-- <app-parent></app-parent> -->
<app-pipe></app-pipe>